<%=  form_for([@post, @post.comments.build]) do |f| %>

<p class="form_group">
  <%= f.label :titre %>
  <%= f.text_field :name, class: "form-control" %>
</p>
<p class="form_group">
  <%= f.label :message %>
  <%= f.text_area :body, class: "form-control" %>
</p>
<p>
  <%= f.submit 'Soumettre'%>
</p>
<% end %>
