<%=  form_for([@post, @post.comments.build]) do |f| %>

<p>
  <%= f.label :commentaire %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :contenu %>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit 'Soumettre'%>
</p>
<% end %>
