<h1>New blog entry</h1>

<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :titre %>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p>
    <%= f.label :message %>
    <%= f.text_area :body, class: "form-control" %>
  </p>
<p>
  <%= f.submit %>
</p>
<% end %>
