<header class="navbar navbar-default header" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo" class="navbar-brand">
        <% if current_page?(root_path) %>
            <p>Page d'accueil</p>
        <% elsif current_page?(posts_path) %>
          <p> <%= link_to "Nouveau post",  new_post_path %></p>
        <% else %>
         <p>  <%= link_to "Retour à l'accueil", root_path %></p>
        <% end %>
      </div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">

                 <li><%= link_to 'Mon compte', edit_user_registration_path %></li>
                 <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>

          </ul>
          <%else %>
            <ul class="nav navbar-nav pull-right">

                 <li><%= link_to '', new_user_registration_path, class: "fa fa-pencil-square-o fa-2x", title: "S'inscrire" %></li>
                 <li><%= link_to '', new_user_session_path, class: "fa fa-sign-in fa-2x", title: "Se connecter" %></li>

            </ul>
            <%end %>
            <% if user_signed_in? %>
                 <% else %>
             <% end %>
      </nav>
    </div>
  </div>
</header>
