<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/partials/flash' %>

<div class="row clearfix">
<div class="col-sm-3 col-lg-2 lateral">

  <%= render 'layouts/partials/nav' %>

</div>
<div class="col-sm-9 col-lg-10">
  <%= render 'layouts/partials/header' %>

    <%= yield %>

</div>
</div>

</body>
</html>
